@charset "UTF-8";
*{
    margin: 0;
    border: 0;
    padding: 0;

    box-sizing: none;
    overflow: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(32, 58, 64, 0.5);
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px transparent;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: none;

    height: 6.25rem;
    margin-bottom: 3.25rem;
}

.nav-counteiner{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    width: 100%;
    margin: 0 0 0 10.125rem ;
    gap: 4.563rem;
}

.main{
    width: 100%;
    height: 100%;
}

.container{
    display: flex;
    flex-direction: column;

    margin: 0 12.5rem;
}

.header-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4.063rem;

    margin-bottom: 4.33rem;
}

.title-form{
    display: flex;
    justify-content: center;
}

.number-page-form{
    display: flex;
    justify-content: center;
    gap: 0.838rem;
}

.number-backgroud{
    width: 2.357rem;
    height: 2.357rem;
    border: 0.125rem solid #F2695C;

    border-radius: 50%;
}

.number-backgroud:hover{
    cursor:pointer;
}

.form-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.separator-form{
    display: flex;
    flex-direction: row;

    gap: 4.375rem;
    justify-content: space-between;
}

.asteristico{
    color: #F2695C;
}

.side-form{
    width: 37.76vw;
}

.div-form{
    margin: 0 0 2.75rem 0;
}

.element-form{
    display: flex;
    align-items: center;
    width: 96%;
    height: 5.926vh;
    padding: 0 0 0 1.341rem;
    border: 2.7px solid #F2695C;
    border-radius: 8px;
}

.element-form > input{
    width: 100%;
    margin: 0 0 0 1.028rem;
    font-size: 1.25rem;
    font-weight: bold;

    color: rgba(32, 58, 64, 0.5);
}

label{
    font-size: 1.25rem;
}

.element-form > input:focus{
    outline: none;
}

.element-form > input::placeholder{
    color: rgba(32, 58, 64, 0.5)
}

#buttons-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#buttons-form > button{
    width: 11.979vw;
    height: 6.481vh;
    border-radius: 8px;

    color: #FFFFFF;
    background-color: #203A40;
}

#buttons-form > button:hover{
    cursor: pointer;
}

.down-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
}

#numero-input{
    width: 37.76vw;
}

#model-3{
    display: flex;
    flex-direction: column;
    gap:5.556vh;
}

#up-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

#up-form > .div-form{
    margin-bottom: 5.556vh;
    width: 37.76vw;
}

#down-form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#down-form > .div-form{
    width: 34.792vw;
}

.senha-fig{
    margin: 0 1.204rem;
}

